In [5]:
import pandas as pd

# Load the dataset
file_path = "store_sales_dirty_data.csv"
dirty_data = pd.read_csv(file_path)

# Show the first few rows of the dataset to understand its structure
dirty_data.head()

   ID Product Name   Category  Quantity  Unit Price   Sale Date    Store
0   1         Milk  Household       NaN         NaN  2023-07-13  Store B
1   2         Eggs        NaN      10.0         2.0  2023-07-10  Store A
2   3          NaN      Dairy       NaN        -2.5  01.07.2023  Store A
3   4       Apples    Produce      10.0         NaN  02.07.2023  Store A
4   5         Milk      Dairy       3.0         1.5         NaN  Store C

In [7]:
# Крок 1: Перетворення дати на стандартний формат (дд-мм-рррр)
dirty_data['Sale Date'] = pd.to_datetime(dirty_data['Sale Date'], errors='coerce')

# Крок 2: Заміна негативних значень ціни на NaN
dirty_data['Unit Price'] = dirty_data['Unit Price'].apply(lambda x: x if x >= 0 else None)

# Крок 3: Заповнення пропущених значень у 'Quantity' нулями
dirty_data['Quantity'] = dirty_data['Quantity'].fillna(0)

# Крок 4: Видалення рядків з відсутніми критичними даними
cleaned_data = dirty_data.dropna(subset=['Product Name', 'Category', 'Sale Date'])

# Показати очищені дані
cleaned_data.head()

    ID Product Name   Category  Quantity  Unit Price  Sale Date    Store
0    1         Milk  Household       0.0         NaN 2023-07-13  Store B
7    8       Cheese  Household       0.0         NaN 2023-07-23  Store C
10  11        Bread  Household       1.0        3.75 2023-07-08  Store A
24  25        Bread     Bakery       0.0        0.00 2023-07-17  Store A
29  30         Eggs    Produce       0.0        2.00 2023-07-15  Store A